body {
    font-family: "courier new", monospace;
    margin: 0;
}

.welcome-container {
    margin: 0;
    height: 100%;
    background-image: url("bg-art.png");
    background-size: cover;
    background-position: center;
}

.welcome-containerimg {
    padding-top: 26vh;
}
.welcome-containertitle {
    background-color: rgba(200, 200, 255, 0.5);
    display: inline-block;
    padding: 0 30px;
    margin: 0 30vw;
}

.welcome-title {
    font-size: 3rem;
    /* padding-top: 30vh;*/
    text-align: center;
    padding: 0px;
}

.welcome-latest {
    font-size: 2rem;
    text-align: center;
}
 
.welcome-latest-items {
    text-align: center;
    padding: 0px;
}

.welcome-latest-item a{
    font-size: 1.5rem;
    padding: 0px;
    color: black;
    text-decoration: none;
}
.welcome-footer {
    margin: 44vh 20px 10px 50%; 
}

.welcome-footer__items, .welcome-latest-items {
    list-style-type: none;
}
.welcome-footer__item {
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 3vw;
    font-weight: bold;
}
